/*@import url('https://indestructibletype.com/fonts/Jost.css');*/

@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,600,700');

/* LOCAL FONT */

@font-face {
  font-family: 'Space Grotesk';
  src: url('fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
      url('fonts/SpaceGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('fonts/SpaceGrotesk-SemiBold.woff2') format('woff2'),
      url('fonts/SpaceGrotesk-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
      url('fonts/SpaceGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('fonts/SpaceGrotesk-Light.woff2') format('woff2'),
      url('fonts/SpaceGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
      url('fonts/SpaceGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
      url('fonts/SpaceGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('fonts/SpaceGrotesk-SemiBold.woff2') format('woff2'),
      url('fonts/SpaceGrotesk-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('fonts/SpaceGrotesk-Light.woff2') format('woff2'),
      url('fonts/SpaceGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
      url('fonts/SpaceGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
      url('fonts/SpaceGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* END FONT */


html {
  background: #fafafa;
  font-family: 'Overpass', sans-serif !important;
}

#app {
  /* max-height: 85vh; */
  overflow:scroll;
  height: 150vh; /* hacky way of getting the pop-over to look kinda okay */
  padding-bottom: 10em;
}

.hiddenPlayer {
  max-height: 100vh;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: red;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
  position: absolute;
  margin-top: 2em;
}

.wil {
  background-image: url('https://s3-ap-southeast-2.amazonaws.com/events.liveguide.com.au-new/1495002_thumbnail_280_Wil_Anderson_Wil_Anderson_Wilegal.v1.jpg');
  background-size: cover;
}

.gary {
  background-image: url('https://s3.amazonaws.com/webassets.ticketmob.com/LS/images/ShowPosters/4E3FBD96-EFC4-DCD6-CA20C8E2BD6C0D0D.jpg');
  background-size: cover;
}

.rightMess .messageText {
  text-align: right;
  margin-left: auto;
}

.convoHead {
  font-size: 1.25em;
  margin-bottom: 1em;
}

.rightMess {
  text-align: right;
}

.avatarLeft {
  left: 2em;
}

.avatarRight {
  right: 1em;
}

.authorRight {
  right: 1em;
  text-align: right;
}

.messageText {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  color: #303030;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 2em;
  padding: 0.8em;
  width: fit-content;
}

body {
  font-family: 'Overpass', sans-serif !important;
  /* height: 100%; */
  margin: 0;
  font-size: 16px;
}

.messages {
  background: rgba(100,100,150,0.1);
  padding: 2em;
  border-radius: 35px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk';
}

.convo {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.findBar {
  margin-top: 0.5em;
  max-width: 90% !important;
}

.heroSplash {
  padding-top: 5em;
  margin-top: -100px;
  width: 100%;
  /* background-image: url("https://images.unsplash.com/photo-1485579149621-3123dd979885?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bdad9431efc1a4481ac8a264d7c33a61&auto=format&fit=crop&w=2089&q=80"); */
  background-size: cover;
}

.heroSearch > .field > .control {
  text-align:center;
}

.heroSearch > .field {
  background-color: #FFF;
  box-shadow: 0 7px 25px rgba(10,10,10,.2), 0 0 0 0px rgba(10,10,10,.2);
  border-radius: 2px;
  position: relative;
  bottom: -2em;
  text-align: center;
}

.heroSearch > .field > .control > input {
  background: none;
    height: 4em;
    border: 0 !important;
    color: #2A1E5C;
    font-family: 'Overpass', sans-serif;
    padding-left: 12.5%;
}

.heroSearch > .field > .control > input:hover {
  box-shadow: none !important;
}

.heroSearch > .field > .control > input:focus {
  box-shadow: none !important;
}

.heroSearch > .field > .control > button:hover {
  box-shadow: none !important;
}

.heroSearch > .field > .control > button:focus {
  box-shadow: none !important;
}

.heroSearch > .field > .control > button {
  display: none;
    background-color: #0A0F0D;
    height: 4em;
    border-radius: 0px;
    box-sizing: border-box;
    color: #FFF;
    font-weight: 700;

}

.homeButt {
  color: #2A1E5C;
  font-size: 1em;
  transition: all 0.2s ease-in-out;
  padding-right:1em;
}

.homeButt:hover {
  color: #333 !important;
}

.playButt {
  color: #2A1E5C;
}

.equalizer{
  display:inline-block;
  width:15px;
  background-color: transparent;
  border: 0;
  position: relative;
  transition: opacity 0.5s ease;
}

.equalizer span{
  display: inline-block;
  width: 3px;
  background-color: #2A1E5C;
  position: absolute;
  bottom: 0;
}

@keyframes shorteq{
  0% {height: 10px}
  50% {height: 5px}
  100% {height: 10px}
}
@-webkit-keyframes shorteq{
  0% {height: 10px}
  50% {height: 5px}
  100% {height: 10px}
}

@keyframes talleq{
  0% {height: 15px}
  50% {height: 8px}
  100% {height: 15px}
}
@-webkit-keyframes talleq{
  0% {height: 15px}
  50% {height: 5px}
  100% {height: 15px}
}

.searchButt {
  font-family: 'Inter UI', sans-serif;
}

.eq1{
  height: 13px;
  left: 0;
  animation-name: shorteq;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  -webkit-animation-name: shorteq;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-delay: 0s;
}

.eq2{
  height: 15px;
  left: 6px;
  animation-name: talleq;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.17s;
  -webkit-animation-name: talleq;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-delay: 0.17s;
}

.eq3{
  height: 13px;
  left: 12px;
  animation-name: shorteq;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.34s;
  -webkit-animation-name: shorteq;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-delay: 0.34s;
}


.navbar-menu {
  background: none !important;
  box-shadow: none !important;
}

.wrapper {
  min-height: calc(100vh - 25vh);
  margin-bottom: -20px;
}

.findBar .input, .textarea {
  background: #f5f5f5;
  border: none;
  box-shadow: none;
  border-radius: 25px !important;
  color: #2A1E5C;
  text-align: center;
}

.control.has-icons-left .input:focus~.icon, .control.has-icons-left .select:focus~.icon, .control.has-icons-left .taginput .taginput-container.is-focusable:focus~.icon, .control.has-icons-right .input:focus~.icon, .control.has-icons-right .select:focus~.icon, .control.has-icons-right .taginput .taginput-container.is-focusable:focus~.icon, .taginput .control.has-icons-left .taginput-container.is-focusable:focus~.icon, .taginput .control.has-icons-right .taginput-container.is-focusable:focus~.icon {
  color: #2A1E5C !important;
  transition: all 0.5s ease-in-out;
  left: 5%;
}

.tag {
  background-color: #2A1E5C !important;
}

.control.has-icons-left .icon {
  transition: all 0.5s ease-in-out;
  left:3%;
}

.podResult {
  transition: all 0.6s ease-in-out;
    /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); */
    color: #202423;
    /* background: #fff; */
    /* border-radius: 4px; */
    padding: 0em !important;
    margin-bottom:2em;
}

 a {
  color: #2A1E5C;
  cursor: pointer;
}

.playing {
  background: #EBEAF0 !important;
  border-radius: 4px;
}

.media-content {
  padding-left: 2em;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2em;
}

.footer {
  color: #2A1E5C;
}

.footer strong {
  color: white;
}

.footName {
  color: white;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 2.7em;
}

.searchResult {
  cursor: pointer;
  transition: 0.1s;
}

.podResult:hover {
 background: #f5f5f5;
}

.author {
  text-transform: uppercase;
    font-weight: 600;
    color: #2A1E5C;
    opacity: 0.4;
}

.episode {
  transform: translateY(150px);
  /* color: #F6E8EA; */
  height: 100%;
  width: 100%;
  background: #202423;
  z-index: 1000;
  position: fixed;
  bottom: -85%;
  transition: all 0.6s ease-in-out;
}

.episode a {
  color: white;
  font-weight: 700;
}

.episodeShowNotes {
  bottom: -60%;
}

.notes {
  color: white;
}


.episodeShow {
  transform:translateY(-2em);
  box-shadow: #555 0 0 70px -17px;

}

.notesIcon {
  filter: invert(100%);
}

.closeButton {
  color: #F6E8EA;
  float: right;
  margin-right: 1em;
  margin-top: 1em;
}

.plyr--audio .plyr__controls {
  background: none !important;
  color: #F6E8EA !important;
}

.plyr--full-ui input[type=range] {
  color: #2A1E5C !important;

}

.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}

.media+.media {
  border-top: none !important;
}

.episodeImagePlayer {
  filter: invert(30%);
}

.subscriptionDiv {
  transition: all 0.6s ease-in-out;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    color: #303030;
    background: #fff;
    border-radius: 4px;
    padding: 0px !important;
    margin-bottom:2em;
}
