.shadows {
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
    transition: all 0.5s ease;
}

.shadows:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    /* transform: translateY(-1rem); */
}

.shadows-static {
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
    transition: all 0.5s ease;
}

.neutral {
    color: #212529;
    border: none;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    position: relative;
    transition: all .15s ease;
    letter-spacing: .025em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    transition: all 0.25s ease;
}

.neutral:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    background-color: inherit;
    color: inherit;
    border: inherit;
    text-decoration: none;
    letter-spacing: .025em;
    font-size: .875rem;
    background-color: #fff;
    color: #212529;
}

.neutral:hover i,
img {
    transform: translateY(-1px);
}

.btn {
    margin: 0.7em;
}

.btn i {
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 0.5em;
    transition: all 0.25s ease;
}

.btn img {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20px;
    vertical-align: middle;
    margin-right: 0.5em;
    transition: all 0.25s ease;
}

code {
    background-color: #f9f9f9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .125);
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}