.shadows {
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
    transition: all 0.5s ease;
}

.shadows:hover {
    box-shadow: 0 15px 25px rgba(50, 50, 93, .2), 0 5px 20px rgba(0, 0, 0, .1) !important;
    /* transform: translateY(-1rem); */
}

.shadows-static {
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
    transition: all 0.5s ease;
}

.neutral {
    color: #172b4d;
    border: none;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    position: relative;
    transition: all .15s ease;
    letter-spacing: .025em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: .75rem;
    transition: all 0.25s ease;
    min-height: 40px;
    vertical-align: center;
}

.neutral:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .2), 0 3px 6px rgba(0, 0, 0, .1);
    background-color: inherit;
    color: #172b4d;
    border: inherit;
    text-decoration: none;
    letter-spacing: .025em;
    font-size: .75rem;
    background-color: #fff;
}

.neutral:active {
    transform: translateY(1px);
    background: #fff !important;
    color: #172b4d !important;
    box-shadow: none;
}

.neutral:hover i,
img {
    transform: translateY(-1px);
}

.btn {
    margin: 0.7em;
}

.btn i {
    font-size: 2em;
    vertical-align: middle;
    margin-right: 0.5em;
    transition: all 0.25s ease;
}

.btn img {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20px;
    vertical-align: middle;
    margin-right: 0.5em;
    transition: all 0.25s ease;
}

code {
    background-color: #f9f9f9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .125);
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.skewed-hero {
    background: #172b4d;
    color: #fff;
    position: relative;
    z-index: -1;
}

.skewed-hero:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(4deg);
    transform-origin: 0%;
    z-index: -1;
}

.dark-bg:hover {
    color: white;
}

.dark-bg:active {
    color: white !important;
    background: #172b4d !important;
}


.gradient-default {
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.specialty {
    min-width: 200px;
    min-height: 48px;
}

.subscribe[type="button"] {
    background: #9381ff;
    color: white;
}

.subscribed[type="button"] {
    background: #f8f7ff;
    color: #aaa7c0;
}
.subscribed:active {
    transform: translateY(2px);
    background: #f8f7ff !important;
    color: #aaa7c0 !important;
}

.unsubscribe[type="button"] {
    color: white;
}



.tags {
    margin-right: 0.4em;
}

.category {
    background: #f8f7ff;
    color: #aaa7c0;
}

.patreon {
    background: rgb(232, 91, 70);
    color: white;
}

.patreon img {
    padding-top: .7em;
}

.patreon:hover {
    background: rgb(232, 91, 70);
    color: white;
}

.patreon:active {
    background: rgb(232, 91, 70) !important;
    color: white !important;
}

.btn .uil {
    float: left;
}

.buttText {
    line-height: 3;
}